/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: transparent;
  color: hsla(14, 100%, 53%, 0.6);
}

h1 {
  font-style: normal;
  color: #373fff;
  font-family: verdana, arial, sans-serif;
}
